# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Working directories
Snow17SacUH/sample_model/

# Temporary Development Notes
LASTNEXT

# R junk
.Rproj.user
.Rhistory

# Mac junk
.DS_Store

# example python csv and other files
py-rfchydromodels/EXAMPLE-*_Sim.csv
py-rfchydromodels/utilities/__pycache__/
