# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Working directories
Snow17SacUH/sample_model/

# Temporary Development Notes
LASTNEXT

# R junk
.Rproj.user
.Rhistory

# Mac junk
.DS_Store

# Notebook Junk
py-rfchydromodels/Notebooks/*
!py-rfchydromodels/Notebooks/AORC_CHPS_Difference_Working.ipynb
!py-rfchydromodels/Notebooks/AdjustQ_to_HDF5.ipynb
!py-rfchydromodels/Notebooks/AutoCalb_Output_Checks.ipynb
!py-rfchydromodels/Notebooks/lagk_dev.ipynb